.libros-argentina {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
  
.libro {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
  
.nombreDelLibro {
    font-weight: bold;
    margin: 10px 0;
}
  
.imagenDelLibro {
    max-width: 100%;
}


